*{background-color: #A7D397; color: antiquewhite;}

h1 {
  background-color: #555843;
  color: #F5EEC8;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px; 
}

  h2{background-color: #BCA37F;width: fit-content; b}

  .mainpage {
    background-color: #555843;
    text-align: right;
    padding-right: 10px; 
}

p{background-color: #113946;}
.mainlinks{background-color: #BCA37F;width: fit-content; b}
  .links{background-color: #113946; width:min-content;}
  ul{background-color: #113946;}
