*{background-color: #A7D397; color: antiquewhite; }

h1 {
  background-color: #555843;
  color: #F5EEC8;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add space between content */
  padding: 0 10px; /* Add padding for better spacing */
  width: 94%;
  margin: 0px;
  border: 15px ridge coral;

}

  h2{background-color: #BCA37F;width: fit-content; b}

  .mainpage {
    background-color: #555843;
    text-align: right;
    padding-right: 10px; /* Add some right padding for better spacing */
}

p{background-color: #113946; border: 5px solid black; padding: 10px}
.mainlinks{background-color: #BCA37F;width: fit-content; }
  .links{background-color: #113946; width:min-content;}
  ul{background-color: #113946; width: 150px; border: 5px solid black;}